*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #a0ac96;
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
    margin-top: 10%
}

.wrapper h1{
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}

.team{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}

.team .team_member{
    background-color: white;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;
    position: relative;
}

.team .team_member h3{
    color: #93af7c;
    font-size: 26px;
    margin-top: 50px;
}

.team .team_member p.role{
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}
