@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
}

/* log-in page*/
#login{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #e3dad4;
}

div.login_box{
    font-size:15px;
    margin: auto;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    width: 50%;
    padding-bottom: 50px;
    border-radius: 3px;
  
}
h1.login{
    font-size:60px !important;
    margin: 1%!important;
}
a.login{
    color: blue;
}
a.login:hover{
    color:skyblue;
}

img.login{
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
form.login input{
    width: 60%;
    border:none;
    border: 1px solid gray;
    border-radius: 30px;
    outline: none;
}
label.login{
    text-align: left!important;
    font-size: 20px;
    margin-left: 21%;
}
input.login[type="email"] {
    padding: 10px 5px 5px 5px;
    display: block;
    margin : 0 auto;
}
input[type="password"].login {
    padding: 5px 5px 5px 5px;
    display: block;
    margin : 0 auto;
}
#Login{
    width: 10%;
    border: 0;
    line-height: 2;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000;
    background-color: #e3dad4;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
#Login:hover {
    background-color:#d7cfcf;
}
#Login:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/* sign-up*/
#signup{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #e3dad4;
}



.containers {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.containers header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.containers .form {
  margin-top: 30px;
}
.forms .input-boxes {
  width: 98%;
  margin-top: 20px;
}
label.input-boxes  {
  color: #333;
}
.forms :where(.input-boxes input, .select-boxes) {
  position: relative;
  height: 50px;
  width: 96%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-boxes input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.forms .columns {
  display: flex;
  column-gap: 15px;
}
.forms .gender-box {
  margin-top: 20px;
}
.gender-boxes h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.forms :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.forms .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.forms :where(.gender input, label.gender ) {
  cursor: pointer;
}
label.gender  {
  color: #707070;
}
.addresses :where(input, .select-boxes) {
  margin-top: 15px;
}
.select-boxes select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.forms button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #e3dad4;
}
.forms button:hover {
    background-color:#d7cfcf;
}
a.signup{
    color: blue;
}
a.signup:hover{
    color:skyblue;
}
/*sign-up Responsive*/
@media screen and (max-width: 500px) {
  .forms .columns {
    flex-wrap: wrap;
  }
  .forms :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}



/*about us*/
.about-us{
    margin: 100px auto;
}

.about-us h1{
    text-align: center;
    font-weight: bold;
    color: #000000;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.about-us h1::after{
    content: '';
    background: var(--pink);
    display: block;
    height: 3px;
    width: 170px;
    margin: 10px auto 5px;
}

.profile img{
    top: -60px;
    left: calc(50% - 60px);
    border: 10px solid white;
}

.about-us .row{
    margin-top: 30px;
}

.col-md-4{
    margin: 40px auto;
}

.profile{
    padding: 70px 10px 10px;
    background-color: #efefef;
}

.user{
    width: 120px;
    height: 120px;
    border-radius: 50%
}

.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: #795d4a;
}

span{
    font-size: 12px;
    color: #c0977b;
}

blockquote{
    font-size: 16px;
    line-height: 30px;
}

blockquote::before{
    content: '\94';
    font-size: 50px;
    position: relative;
    color: #c0977b;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}

blockquote::after{
    content: '\94';
    font-size: 50px;
    position: relative;
    color: #c0977b;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}

.profile:hover{
    background-color: #e3dad4;
    box-shadow: 0 0 15px 5px rgba (0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}
/*homepage*/

body{
    font-family: var(--sm-font);
}

/* button */
.bg-navigation{
    background-color: var(--pink)!important;
}
.bg-collection{
    background-color:var(--pink)!important;
}
.btn:not(.nav-btns button){
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover{
    background-color: #e3dad4;
    color: #fff;
    color:var(--pink)!important;
}

/* text color */
.text-primary{
    color:var(--pink)!important;
}

/* navbar */
.navbar{
    background-color: #e3dad4;
    -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
          
}
.navbar-brand img{
    width: 100px;
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}
.nav-link:hover{
    color:var(--pink)!important;
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}
#nav{
    color: rgb(85, 85, 85);
}
.dropdown-menu{
    max-width: 100px;
   max-height: 200px;
   overflow-y: scroll;
   -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
           box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.dropdown-item:hover{
    color:var(--pink)!important;
}
.dropdown-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}
img.profilepic{
    border-radius: 50%;
    width: 30px;
}

/* header */
#header{
    background: url(../Images/image2.png) top/cover no-repeat;
}
.btn:not(.nav-btns button){
    background-color: #fff;
    color: rgb(85,85,85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85,85,85);
}
.btn:not(.nav.btns button):hover{
    background-color: #e3dad4;
    color:#fff;
    color:var(--pink)!important;
}
.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}
.carousel-item .btn{
    border-color: #fff!important;
}
.carousel-item btn:hover{
    color:var(--pink)!important;
}
 input[type="text"].search {
    padding: 5px 5px 5px 5px;
    width:40%;


}
.search{
    border-radius: 25px;
    height: 50px;
    margin:0%;
   
}

/* title */
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

/* collection */
.active-filter-btn{
    color:var(--pink)!important;
    color: #fff!important;
    color:var(--pink)!important;
}
.filter-button-group .btn:hover{
    color: #fff!important;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
.collection-img img{
    height:300px;
}

/* top-brands */
img.Top1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    height: 30vw;
    padding: 50px;
}

div.Top{
   background-color:#e3dad4;
}





/* newsletter */
#newsletter{
    background-color: rgba(179, 179, 179, 0.05);
}
#newsletter p{
    max-width: 600px;
}
#newsletter .input-group{
    max-width: 400px;
}
#newsletter .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#newsletter .btn{
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}
#newsletter .btn:hover{
    background-color: #000;
    border-color: #000;
}

/* footer */
footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}
footer a{
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
footer a:hover{
    color: var(--pink)!important;
}

/* media queries */
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}
