*
{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.menu-bar
{
    background: rgb(83, 79, 22); 
    text-align: center;
    
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul
h1{
    font-size:  60px;
    text-align: center;
    margin: 0%;
}
.menu-bar ul li
{
    width:350px;
    margin:15px;
    font-size: 20px;

}
h2{
    font-size:20px;
    margin:0%;
    margin-top:px;
}
h3{
    font-size:25px;
    margin-top:4%; 
    
}
p{
    font-size:15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:0%;
    float: left;
}
img.profile{
    float: left;
    border-radius: 50%;
    width:100px;
    margin-right: 7px;
    margin-bottom: 15px;
}

i.fa-solid {
    font-size:30px;
    float:right; 
    margin-left:40px;
    margin-right:25px;
}
i.fa-regular{
    font-size:30px; 
    float:right;
}
input[type="text"] {
    padding: 5px 5px 5px 5px;
    width:90%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    margin-left: 25%;

}
.search{
    border-radius: 25px;
    width:90%;
   
}
img.New1,.New2{
margin:15px;
border-radius: 50px;
display:inline;
width:300px;
}
img.Top1{
    margin:15px;
    display:inline;
    width:150px;  
}

@media screen and (max-width:500px){


}
