
h1{
    font-size:  60px;
    text-align: center;
    margin: 0%;
    
}
p{
    font-size:15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:0%;
}
a{
    font-size:15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:0%;
    color: blue;
}
a:hover{
    color:skyblue;
}

img{
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.login_box {
    margin: auto;
    text-align: center;
}
form input{
    width: 60%;
    border:none;
    border: 1px solid gray;
    border-radius: 30px;
    outline: none;
}
input[type="email"] {
    padding: 5px 5px 5px 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    margin : 0 auto;
   
}
input[type="password"] {
    padding: 5px 5px 5px 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    margin : 0 auto;
   
    
}
.Login{
    border: 0;
    line-height: 2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0 20px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000;
    background-color: #e3dad4;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.Login:hover {
    background-color:#d7cfcf;
}
.Login:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
@media screen and (max-width:500px){
    h1{
        font-size:  25px;
        text-align: center;
        margin: 0%;
    }
    .topnav .login-container {
        float: none;
      }
      .topnav a, .topnav input[type=text], .topnav .login-container button {
        float: none;
        display: block;
        text-align: left;
        width: 90%;
        margin: 0;
        padding: 14px;
      }
      .topnav input[type=text] {
        border: 1px solid #ccc;  
      }  
}
a:link{
       font-size: 15px;
        text-align: center;

}
