body{
    background-color: #e3dad4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    font-size:  50px;
    text-align: center;
    padding-top: 15px;
    margin: 0%;
    
}
p{
    margin:0%;
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para-2{
    text-align: center;
    font-size: 15px;
    margin-top: -10px;
}
div.Sign_Up {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display:flex;
    margin-top: 20px;
    font-size:15px;
}
form input{
    width: 100%;
    padding: 7px;
    border:none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[type="text"] {
    padding: 5px 5px 5px 5px;
    display: block;
    margin : 0 auto;
    border-radius: 30px;  
}
input[type="email"] {
    padding: 5px 5px 5px 5px;
    display: block;
    margin : 0 auto;
    border-radius: 30px;  
}
input[type="password"] {
    padding: 5px 5px 5px 5px;
    display: block;
    margin : 0 auto;
    border-radius: 30px;  
}
input[type=button].SignUp{
    width: 320px;
    border: 0;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #e3dad4;
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 1px;
    padding: 0 20px;
   
    text-align: center;
   
   
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;

    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
input[type=button].SignUp:hover {
    background-color:#d7cfcf;
}
input[type=button].SignUp:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
@media screen and (max-width:500px){
    h1{
        font-size:  25px;
        text-align: center;
        margin: 0%;
    }
    .topnav .login-container {
        float: none;
      }
      .topnav a, .topnav input[type=text], .topnav .login-container button {
        float: none;
        display: block;
        text-align: left;
        width: 90%;
        margin: 0;
        padding: 14px;
      }
      .topnav input[type=text] {
        border: 1px solid #ccc;  
      }  
}
a:link{
       font-size: 15px;
        text-align: center;

}